* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

body {
    min-height: 100dvh;
    height: auto;
    overflow: hidden;
}

.header {
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: #dff2ff;
    border: solid 2px #3eb2ff;
    text-align: center;
    border-top: none;
}

h1 {
    color: #333;
    font-size: 1.7rem;
}

.header i {
    color: #ff002b;
}

.header p {
    color: #666;
}

.p {
    padding: 0 0.5rem;
}

#container {
    max-width: 380px;
    margin: 2rem auto;
    border-radius: 0.5rem;
    border: solid 1px #3eb2ff;
    overflow: hidden;
}

#container header {
    padding: 0.5rem 1rem;
    background-color: #dff2ff;
    border-bottom: solid 1px #3eb2ff;
}

#question-title {
    color: #333;
    font-size: 1.3rem;
}

#question-options {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#question-options li {
    width: 100%;
    padding: 0.5rem;
    border: solid 1px #3eb2ff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #333;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#question-options li .icon {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: #e5faff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -110%;
    top: 50%;
    transform: translateY(-50%);
}

#question-options li .icon.animation-incorrect {
    color: #d60000;
    animation: animation 2s ease-in-out 1;
}

#question-options li .icon.animation-correct {
    color: #00df00;
    animation: animation 2s ease-in-out 1 forwards;
}

.letter {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    background-color: #3eb2ff;
    text-transform: uppercase;
    color: #fff;
}

#loading {
    padding-bottom: 1rem;
    display: none;
    align-items: center;
    justify-content: center;
}

#loading.active {
    display: flex;
}
.load {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: solid 2px transparent;
    border-top-color: #3eb2ff;
    animation: loading 0.5s linear infinite;
}

#container footer {
    padding: 0.5rem 1rem;
    background-color: #dff2ff;
    border-top: solid 1px #3eb2ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#container footer p {
    font-weight: 500;
    color: #333;
    font-size: 0.9rem;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    padding: 2rem;
    align-items: flex-start;
}

#modal {
    max-width: 380px;
    background-color: #dff2ff;
    border-radius: 0.5rem;
    color: #333;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}

.info-modal {
    font-weight: normal;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.info-modal button {
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    padding: 0.2rem 0.5rem;
    background-color: #3eb2ff;
}

#overlay-animation {
    position: fixed;
    inset: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.1);
}

.hide {
    display: none !important;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

@keyframes animation {
    5% {
        right: 1rem;
    }

    10% {
        right: 0.5rem;
    }

    50% {
        right: 0.5rem;
    }

    100% {
        right: 0.5rem;
    }
}
